# Dependencies
node_modules/
.pnp
.pnp.js

# Compiled Sanity Studio
/bakingbread/dist
/dist

# Temporary Sanity runtime
/bakingbread/.sanity
/.sanity

# Build output (frontend)
/frontend/dist

# Logs
/logs
*.log

# Coverage
/coverage

# Misc
.DS_Store
*.pem

# Typescript
*.tsbuildinfo

# Dotenv and similar local-only files
*.local
.env
.env.*
!.env.example
